.Management{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .Top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        h1{
            font-size: 40px;
            font-family: 'Indie Flower', cursive;
            span{
                color: var(--tertiary-color);
            font-family: 'Indie Flower', cursive;
            }
        }
        p{
            font-size: 35px;
            span{
                color: var(--tertiary-color);
            }
        }
    }
    .selectors{
        display: flex;
       
        .selector{
            display: flex;
            align-items: center;
            margin-right:20px;
            border-radius: 10px;
            border: 2px solid grey;
            padding: 20px 10px;
            background-color: grey;
            height: 40px;
            #icon{
                width: 30px;
                height: auto;
                padding: 2px;
                color: white;
                border-radius: 100%;
                border: 2px solid grey;
            }
            h2{
                color: white;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 10px;
                padding-top: 5px;
            }
        }
    }
    .Members{
        margin: 20px 0px;
        overflow-y: scroll;
        .Member{
            margin: 5px 0px;
            display: flex;
            align-items: center;
            padding: 10px 0px;
            h3{
                width: 40vw;
            }
        }
    }
}